<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor Portal</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Fraunces:wght@600;700&display=swap"
        rel="stylesheet">



    <link rel="stylesheet" href="{{ url_for('static', filename='css/intructor_page/instructor_based.css') }}">
    <!-- Cloudflare Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

    <!-- SIDEBAR -->
    <aside class="sidebar">
        
        <a href="{{ url_for('instructor.dashboard') }}" class="sidebar-brand">
            <i class="fa-solid fa-graduation-cap logo-icon"></i>
            Study<span>Track</span>
        </a>

        <nav class="sidebar-nav">
            <a href="{{ url_for('instructor.dashboard') }}">
                <i data-lucide="layout-dashboard"></i>
                Dashboard
            </a>

            <a href="{{ url_for('instructor.my_courses') }}">
                <i data-lucide="book-open"></i>
                My Courses
            </a>

            <hr class="sidebar-divider">

            <a href="{{ url_for('auth.logout') }}" class="logout-btn">
                <i data-lucide="log-out"></i>
                Logout
            </a>
        </nav>
    </aside>

    <!-- MAIN WRAPPER -->
    <div class="main-wrapper">

        <!-- TOPBAR -->
        <header class="topbar">
            <div class="welcome-text">
                <i data-lucide="user-circle"></i>
                Welcome, <span>{{ session["username"] }}</span>
            </div>
        </header>


        <main class="content-area">
            {% block content %}
            {% endblock %}
        </main>

    </div>


    <script>
        lucide.createIcons();
    </script>
</body>

</html>