<!DOCTYPE html>
<html>
<head>
    <title>Grade Management</title>
</head>

<body>

<h1>University Course Tracker</h1>

<a href="/student">Students</a>
<br><br>

<a href="/instructor">Instructors</a>
<br><br>

<a href="/course">Courses</a>
<br><br>

<a href="/enrollment">Enrollments</a>
<br><br>

<a href="/gradebook">GradeBook</a>
<br><br>

<a href="/io">Import/Export</a>
<br><br>
<a href="/pdanalytics">Analytics</a>

<br>
<a href="/matplotlibvisual">Visualization</a>

<br>
<a href="/attendance"> Attendance Check</a>
</body>
</html>