<h2>Attendance</h2>

<form
method="POST"
action="{{ url_for('admin.attendance_save') }}"
>

<input
type="hidden"
name="course_id"
value="{{ course_id }}">

<input
type="hidden"
name="session_number"
value="{{ session_number }}">

<table border="1">

<tr>

<th>ID</th>

<th>Name</th>

<th>Status</th>

</tr>

{% for s in students %}

<tr>

<td>

{{ s.student_id }}

<input
type="hidden"
name="student_id"
value="{{ s.student_id }}">

</td>

<td>

{{ s.name }}

</td>

<td>

<select name="status">

<option
value="Present"
{% if s.status=="Present" %}selected{% endif %}
>

Present

</option>

<option
value="Late"
{% if s.status=="Late" %}selected{% endif %}
>

Late

</option>

<option
value="Absent"
{% if s.status=="Absent" %}selected{% endif %}
>

Absent

</option>

</select>

</td>

</tr>

{% endfor %}

</table>

<button>

Save Attendance

</button>

</form>