<h1>GradeBook</h1>

<form method="POST">

<select name="student_id">

{% for s in students %}
<option value="{{s[0]}}">
{{s[1]}}
</option>
{% endfor %}

</select>

<select name="course_id" required>

{% for c in courses %}
<option value="{{c[0]}}">
{{c[1]}}
</option>
{% endfor %}

</select>

<br><br>

Assignment:
<input type="number" step="0.01"
name="assignment">

<br><br>

Midterm:
<input type="number" step="0.01"
name="midterm">

<br><br>

Final:
<input type="number" step="0.01"
name="final">

<br><br>

<button>
Save Grade
</button>

</form>

<hr>

<table border="1">

<tr>
<th>Student_ID</th>
<th>Name</th>
<th>Course</th>
<th>Assignment</th>
<th>Midterm</th>
<th>Final</th>
<th>Subject Grade</th>
<th> Status </th>
</tr>

{% for g in grades %}

<tr>

<td>{{g[1]}}</td>
<td>{{g[2]}}</td>
<td>{{g[3]}}</td>
<td>{{g[4]}}</td>
<td>{{g[5]}}</td>
<td>{{g[6]}}</td>
<td>{{g[7]}}</td>
<td>{{g[8]}}</td>
</tr>

{% endfor %}

</table>
<a href="/admin">Back Home</a>