<!DOCTYPE html>
<html>

<head>

    <title>I/O Module</title>

</head>

<body>

<div class="container">

    <h1>Import / Export Module</h1>

    <div class="card">

        <h2>Import CSV Files</h2>

        <form
            action="/import_csv"
            method="POST"
            enctype="multipart/form-data">

            <input
                type="file"
                name="csv_files"
                accept=".csv"
                multiple>

            <br><br>

            <button type="submit">
                Import CSV Files
            </button>

        </form>

    </div>
    <div class="card">

        <h2>Import Result</h2>

        <p>
        Imported:
        {{ imported }}
        </p>

        <p>
        Updated:
        {{ updated }}
        </p>

        <p>
        Skipped:
        {{ skipped }}
        </p>

    </div>
    <div class="card">

        <h2>Export Report</h2>

        <a href="/export_json">

            <button>
                Export JSON Report
            </button>

        </a>

    </div>

</div>
<a href="/">Back Home</a>
</body>
</html>