{% extends "base/student_base.html" %}

{% block content %}

{% include "student_page/nav/course_nav.html" %}

<h2>Assignments</h2>

<table>

<tr>

<th>Name</th>

<th>Due Date</th>

<th>Status</th>

<th></th>

</tr>

{% for assignment in assignments %}

<tr>

<td>

{{ assignment.assignment_name }}

</td>

<td>

{{ assignment.due_date }}

</td>

<td>

{% if submission.status == 'Not Submitted' %}

Not Submitted

{% else %}

Submitted

{% endif %}

</td>

<td>

<a href="{{ url_for('student.submit_assignment_page',
assignment_id=assignment.assignment_id) }}">

Open

</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}