{% extends "base/student_base.html" %}

{% block content %}

<h1>

{{ course.course_name }}

</h1>

{% include "student_page/nav/course_nav.html" %}

<hr>

<h3>

Course Information

</h3>

<table>

<tr>

<td>Course ID</td>

<td>{{ course.course_id }}</td>

</tr>

<tr>

<td>Credits</td>

<td>{{ course.credits }}</td>

</tr>

<tr>

<td>Semester</td>

<td>{{ course.semester }}</td>

</tr>

<tr>

<td>Sessions</td>

<td>{{ course.sessions }}</td>

</tr>

</table>

{% endblock %}