{% extends "base/student_base.html" %}

{% block content %}



<h2>

{{ assignment.assignment_name }}

</h2>

<p>

Due Date:

{{ assignment.due_date }}

</p>

<p>

Maximum Score:

{{ assignment.max_points }}

</p>

<hr>

{% if submission %}

<h3>Your Current Submission</h3>

<p>

Attempt:

{{ submission.attempt }}

</p>

<p>

Submitted:

{{ submission.submit_time }}

</p>

<p>

Score:

{{ submission.score if submission.score else "Not graded" }}

</p>

{% endif %}

<hr>

<form

method="POST"

enctype="multipart/form-data">

<label>

Upload Assignment

</label>

<br><br>

<input

type="file"

name="file"

required>

<br><br>

<button>

Submit

</button>

</form>

{% endblock %}