{% extends "base/instructor_base.html" %}

{% block content %}

<h2>Attendance</h2>

<hr>

<h3>{{ course.course_name }}</h3>

<p>

Course ID :
{{ course.course_id }}

</p>

<p>

Semester :
{{ course.semester }}

</p>

<p>

Total Sessions :
{{ course.sessions }}

</p>

<br>

<table border="1">

<tr>

<th>Session</th>

<th>Status</th>

<th>Action</th>

</tr>

{% for i in range(1,course.sessions+1) %}

<tr>

<td>

Session {{ i }}

</td>

<td>

{% if i in completed %}

✅ Completed

{% else %}

❌ Not Taken

{% endif %}

</td>

<td>

<a href="{{ url_for(

'instructor.attendance',

course_id=course.course_id,

session_number=i

) }}">

Open

</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}