{% extends "base/instructor_base.html" %}

{% block content %}

<h1>

{{ course.course_name }}

</h1>

<hr>

<ul>

<li>

<a href="{{ url_for('instructor.attendance_home',
course_id=course.course_id) }}">

Attendance

</a>

</li>

<li>

<a href="{{ url_for('instructor.grades',
course_id=course.course_id) }}">

Grades

</a>

</li>

<li>

<a href="{{ url_for('instructor.grade_percentage',
course_id=course.course_id) }}">

Grade Percentage

</a>

</li>

<li>

<a href="{{ url_for('instructor.calculate_final',
course_id=course.course_id) }}">

Calculate Final Grade

</a>

</li>

<li>

<a href="{{ url_for('instructor.attendance_report',
course_id=course.course_id) }}">

Attendance Report

</a>

</li>

<li>



Grade Report

</a>

</li>

</ul>

{% endblock %}