<!DOCTYPE html>
<html>

<head>
    <title>Instructor Dashboard</title>
</head>

<body>

<h1>Instructor Dashboard</h1>

<h2>Welcome {{ instructor }}</h2>

<hr>

<h3>Statistics</h3>

<p>Total Courses : {{ total_course }}</p>

<p>Total Students : {{ total_student }}</p>

<hr>

<h3>My Courses</h3>

<table border="1">

<tr>
    <th>Course ID</th>
    <th>Course Name</th>
    <th>Semester</th>
    <th>Students</th>
    <th>Action</th>
</tr>

{% for course in courses %}

<tr>

<td>{{ course.course_id }}</td>

<td>{{ course.course_name }}</td>

<td>{{ course.semester }}</td>

<td>{{ course.total_students }}</td>

<td>

<a href="/instructor/course/{{ course.course_id }}">
Open

</a>

</td>

</tr>

{% endfor %}

</table>

</body>
</html>