{% extends "base/instructor_base.html" %}

{% block content %}

<h2>Edit Assignment</h2>

<form method="POST">

    <label>Assignment Name</label><br>

    <input
        type="text"
        name="assignment_name"
        value="{{ assignment.assignment_name }}"
        required>

    <br><br>

    <label>Assignment Type</label><br>

    <select
        name="assignment_type"
        required>

        <option value="assignment"
        {% if assignment.assignment_type=="assignment" %}
        selected
        {% endif %}
        >
            Assignment
        </option>

        <option value="midterm"
        {% if assignment.assignment_type=="midterm" %}
        selected
        {% endif %}
        >
            Midterm
        </option>

        <option value="final"
        {% if assignment.assignment_type=="final" %}
        selected
        {% endif %}
        >
            Final
        </option>


    </select>

    <br><br>

    <label>Description</label><br>

    <textarea
        name="description"
        rows="6"
        cols="70">{{ assignment.description }}</textarea>

    <br><br>

    <label>Due Date</label><br>

    <input
        type="date"
        name="due_date"
        value="{{ assignment.due_date }}"
        required>

    <br><br>

    <label>Maximum Points</label><br>

    <input
        type="number"
        name="max_points"
        step="0.1"
        value="{{ assignment.max_points }}"
        required>

    <br><br>

    <button type="submit">
        Save Changes
    </button>

</form>

{% endblock %}