<a href="{{ url_for('instructor.calculate_final',
course_id=course.course_id) }}">

<button>

Calculate Final Grade

</button>

</a>

<br><br>
{% extends "instructor_page/course_dashboard.html" %}

{% block content %}

<h2>{{ course.course_name }}</h2>

<table border="1">

<tr>

<th>ID</th>

<th>Name</th>

<th>Assignment</th>

<th>Midterm</th>

<th>Final</th>

<th>Final Grade</th>

<th></th>

</tr>

{% for s in grades %}

<tr>

<td>{{ s.student_id }}</td>

<td>{{ s.name }}</td>

<td>{{ s.assignment }}</td>

<td>{{ s.midterm }}</td>

<td>{{ s.final }}</td>

<td>{{ s.final_grade }}</td>

<td>

<a href="{{ url_for('instructor.edit_grade',

course_id=course.course_id,

student_id=s.student_id) }}">

Edit

</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}