<form method="POST"
      action="{{ url_for('instructor.attendance_save',
      course_id=course_id) }}">

      <input
type="hidden"
name="session_number"
value="{{ session_number }}">

<table border="1">

<tr>

<th>ID</th>

<th>Name</th>

<th>Status</th>

</tr>

{% for s in students %}

<tr>

<td>{{ s.student_id }}</td>

<td>{{ s.name }}</td>

<td>

<select
name="student_{{ s.student_id }}">

<option value="Present"
{% if attendance.get(s.student_id)=="Present" %}
selected
{% endif %}>
Present
</option>

<option value="Late"
{% if attendance.get(s.student_id)=="Late" %}
selected
{% endif %}>
Late
</option>

<option value="Absent"
{% if attendance.get(s.student_id)=="Absent" %}
selected
{% endif %}>
Absent
</option>

</select>

</td>

</tr>

{% endfor %}

</table>

<br>

<button type="submit">

Save Attendance

</button>

</form>