{% extends "base/instructor_base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/intructor_page/intructor_dashboard.css') }}">

<div class="dashboard-container">
   
    <div class="dashboard-header">
        <h1>Dashboard</h1>
        
    </div>

   
    <div class="stats-grid">
      
        <div class="stat-card">
            <div class="stat-icon">
                <i class="fa-solid fa-book-open"></i>
            </div>
            <div class="stat-info">
                <span class="stat-label">Total Courses</span>
                <span class="stat-value">{{ total_course }}</span>
            </div>
        </div>

        
        <div class="stat-card">
            <div class="stat-icon">
                <i class="fa-solid fa-users"></i>
            </div>
            <div class="stat-info">
                <span class="stat-label">Total Students</span>
                <span class="stat-value">{{ total_student }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}